html,
body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* Preloader */

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2_ {
  3%,
  97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }

  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }

  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}

@keyframes dot3_ {
  3%,
  97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }

  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }

  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}

.page-loaded .preloader .icon,
.page-loaded .preloader .other-icon {
  opacity: 0;
}

.preloader:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 0;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.page-loaded .preloader:before {
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
}

.preloader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #354bad;
  z-index: 2;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.page-loaded .preloader:after {
  -webkit-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transform: translateX(-101%);
}

header {
  position: fixed;
  background: rgba(39, 68, 93, 0.2);
  backdrop-filter: blur(100px);
  display: flex;
  z-index: 1000;
  width: 100%;
  height: 96px;
}

header .nav1 {
  justify-content: space-around;
  display: flex;
  width: 100%;
  margin: 1%;
}

.nav-section {
  display: flex;
  align-items: center;
}

.nav-section .logo {
  display: flex;
  align-items: center;
  max-width: 200px;
}
.nav-section .logo img {
  width: 40%;
}

.nav-section .logo span {
  color: #fff5e9;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 100%;
  letter-spacing: -2%;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 5rem;
}

.menu ul li {
  margin-right: 2rem;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-bottom: 5px;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  left: 0; /* Mulai dari sisi kiri */
  bottom: 0;
  width: 0%; /* Garis awalnya tidak terlihat */
  height: 2px;
  background-color: #fff; /* Warna garis */
  transition: width 0.3s ease-in-out; /* Animasi smooth */
}

.menu ul li a:hover::after {
  width: 100%; /* Garis akan memanjang ke kanan */
}

#hamburger {
  display: none;
}
/* akhir dari header navbar */

/* Hero Section */
.hero {
  display: flex;
  background: var(
    --light-blue-homepage,
    linear-gradient(180deg, #90baff 0%, #d2e3ff 100%)
  );
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hero-container {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: end;
  align-items: center;
  text-align: center;
  flex-direction: row;
  position: relative;
  margin-bottom: -19vw;
  margin-top: -3vw;
  transition: transform 0.1s easeout;
}

.hero-container .cloud-left {
  flex: 1;
  mix-blend-mode: multiply;
}

.cloud-left img {
  width: 100%;
  padding-top: 50px;
}

.hero-container .cloud-right {
  flex: 1;
  mix-blend-mode: multiply;
  position: relative;
  inset: -2vw 0 0 0;
}

.cloud-right img {
  width: 180%;
  padding-top: 50px;
  clip-path: inset(0 44% 0 0);
}

.hero-container .hero-text button {
  background: linear-gradient(to bottom, #354bad, #417ed1);
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.hero-container .hero-text button:hover {
  background: linear-gradient(to right, #d2e3ff, #90baff);
  box-shadow: 0 0 10px #90baff;
}

.hero-text {
  width: 100%;
  flex: 2;
  margin-top: -100px;
  z-index: 2;
}

.hero h1 {
  font-size: clamp(2.5rem, 7vw, 10rem);
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-shadow: 0px 4px 4px #224f89;
}

.hero-text button {
  background: linear-gradient(to bottom, #354bad, #417ed1);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-text button:hover {
  background: linear-gradient(to bottom, #417ed1, #354bad);
}

.hero-city {
  width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-bottom: -5px;
  z-index: 1;
}

.hero .hero-city img {
  height: auto;
  width: 100%;
}

/* Get to Know Open Project */

.gtk {
  display: flex;
  background: var(
    --light-blue-homepage,
    linear-gradient(180deg, #90baff 0%, #458cff 50%, #98ded9 100%)
  );
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}

.gtk-container {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  margin-top: -200px;
}

.gtk-container .cloud-left {
  flex: 1;
  mix-blend-mode: multiply;
}

.gtk-container .cloud-left img {
  width: 180%;
  height: 180%;
  padding-top: 50px;
  clip-path: inset(0 0 0 50%);
  transform: translateX(-50%);
}

.gtk-container .cloud-right {
  flex: 1;
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 95vh;
}

.gtk-container .cloud-right img {
  width: 100%;
  clip-path: inset(0 30% 0 0);
  transform: translateX(30%);
}

.gtk-text {
  width: 100%;
  flex: 2;
}

.gtk h1 {
  font-size: clamp(
    2rem,
    4vw,
    3.3rem
  ); /* Adjust the font size based on viewport width */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  transform: translateY(100px); /* Start below the GTK city */
  transition: transform 0.5s ease; /* Smooth transition */
}

.gtk h3 {
  font-size: clamp(
    0.5rem,
    2vw,
    1rem
  ); /* Adjust the font size based on viewport width */
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  transform: translateY(20px); /* Slightly off-screen */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.gtk .highlight {
  font-weight: 700;
  background: linear-gradient(to right, #2a5496, #005df6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gtk-city {
  width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 2;
  mix-blend-mode: multiply;
  inset: -20vh 0 0 0;
}

.gtk .gtk-city img {
  height: 0%;
  width: 120%;
  clip-path: inset(0 0 10% 0);
  transform: scale(1);
  margin-left: -8%;
}

/* Theme */

.Theme {
  display: flex;
  background: var(
    --light-green-gradient,
    linear-gradient(180deg, #98ded9 0%, #c7ffd8 100%)
  );
  background-size: cover;
  background-position: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}

.Theme-container {
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Theme-container .Vector-left{
  position: absolute;
  height: 80%;
  transform: translateX(80%);
  width: 60%;
  margin-bottom: -18vw;
  clip-path: inset(0 46% 0 0);
}

.Theme-container .Vector-right {
  position: absolute;
  width: 60%;
  height: 80%;
  clip-path: inset(0 0 0 40%);
  transform: translateX(-80%);
  margin-top: -20vw;
}

.Theme-container .theme-text {
  max-width: 100%;
}

.theme-text h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #004136;
  margin-bottom: 20px;
}

.Theme-container .theme-details {
  max-width: 55%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-details p {
  color: #004136;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-style: normal;
  font-weight: 500;
}

/* Idea */

.Idea {
  display: flex;
  background: linear-gradient(180deg, #c7ffd8 0%, #c7ffd8 100%);
  background-size: cover;
  background-position: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}

.Idea-container {
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Idea-container .Vector-left {
  position: absolute;
  width: 60%;
  height: 80%;
  clip-path: inset(0 46% 0 0);
  transform: translateX(80%);
  margin-bottom: -18vw;
}

.Idea-container .Vector-right {
  position: absolute;
  width: 60%;
  height: 80%;
  clip-path: inset(0 0 0 40%);
  transform: translateX(-80%);
  margin-top: -20vw;
}

.content-section {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 50px;
}

.Idea-main-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Idea-text h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #004136;
  margin-bottom: 20px;
}

.Idea-container .Idea-details {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Idea-details p {
  color: #004136;
  font-size: clamp(1rem, 2vw, 1rem);
  font-style: normal;
  font-weight: 500;
}

.Idea-image {
  width: 100%;
  height: 50vh; /* tinggi 50% viewport height */
  border-radius: 10%;
  overflow: hidden; /* agar gambar tidak keluar dari border */
  position: relative;
}

.Idea-image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Documentation */
.Documentation {
  background: linear-gradient(to bottom, #c7ffd8, #98ded9);
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 100vh;
}

.Documentation-container {
  display: flex;
  position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Documentation-container h1 {
  color: #004136;
  font-family: "Plus Jakarta Sans";
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.56px;
}

.slider {
  padding: 0;
  margin: 0;
  position: relative;
  width: 90%;
  display: flex;
  place-items: center;
  overflow: hidden;
  place-items: center;
}

.slide-track {
  display: flex;
  width: calc(250px * 18); /* pastikan ini menutupi seluruh container */
  animation: scroll 40s linear infinite;
  gap: 40px;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center; 
  perspective: 100px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  overflow: hidden; 
}

.slide img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  transition: transform 1s;
  border-radius: 10%;
}

.slide img:hover {
  transform: translateZ(20px);
}

.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50%));
  }
}

/* Timeline Registration */
.Registration {
  background: linear-gradient(180deg, #98ded9 0%, #c7ffd8 100%);
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 1130px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::selection {
  color: #fff;
  background: #ff7979;
}

.Regis-container {
  display: flex;
  position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Regis-container h1 {
  color: #004136;
  text-align: center;
  justify-items: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.56px;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
  text-align: right;
}

.wrapper .row-2 {
  justify-content: flex-end;
}

.wrapper .row section {
  background: #fff;
  border-radius: 5px;
  width: calc(46% - 37px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon {
  position: absolute;
  justify-content: center;
  background: #004136;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 17px;
}

.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}

.row section .details .title {
  color: #004136;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.row section p {
  margin: 10px 0 17px 0;
  color: #258922;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

/* Benefit Open Project */

.benefit {
  display: flex;
  background: linear-gradient(180deg, #c6fed8 0%, #84cffb 100%);
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}

.benefit-container {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.benefit-container .cloud-left {
  flex: 1;
  mix-blend-mode: multiply;
  position: relative;
  height: 60vh;
}

.benefit-container .cloud-left img {
  flex: 1;
  width: 180%;
  height: auto;
  clip-path: inset(0 0 0 50%);
  transform: translateX(-50%);
  position: relative;
  bottom: 60%;
}

.benefit-container .cloud-right {
  flex: 1;
  mix-blend-mode: multiply;
}

.benefit-container .cloud-right img {
  width: 90%;
  clip-path: inset(0 27% 0 0);
  transform: translateX(27%);
}

.benefit-text {
  width: 100%;
  margin: 0 30px 0 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.benefit h1 {
  color: #004136;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.56px;
}

.benefit h3 {
  color: #004136;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  font-style: normal;
  font-weight: 500;
}

.benefit-city {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
  mix-blend-mode: multiply;
}

.benefit .benefit-city img {
  object-fit: cover;
  display: block;
  height: 0%;
  width: 120%;
  clip-path: inset(0 6% 15% 6%);
  transform: translateY(0) translateX(-7%);
}

/* ================= Section FAQ ================= */
.faq-container {
  background-color: #84cffb;
  text-align: center;
  height: 660px;
  position: relative;
  padding: 0;
  margin: 0;
}

.faq-heading h2 {
  font-size: 3.8rem;
  background: linear-gradient(90deg, #2577ff 0%, #164799 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  line-height: 74px; /* 115.625% */
  letter-spacing: -2.56px;
  margin: 0;
}

.faq-heading p {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(90deg, #354bad 0%, #161f47 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Grid Layout untuk FAQ */
.faq-wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 900px;
  margin: auto;
  align-items: start;
  gap: 50px;
}

.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  background-color: #2577ff;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button .button__icon-wrapper {
  color: #2577ff;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

details {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* Style untuk summary */
summary {
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

summary::after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("/assets/image/button_arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s ease;
}

details[open] summary::after {
  transform: rotate(-180deg);
}

/* Efek dropdown */
.faq-answer {
  height: 100%;
  overflow: hidden;
  text-align: left;
  transform: translateY(-5px);
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  padding: 0 15px;
  color: black;
  will-change: height, opacity, transform;
}

details[open] .faq-answer {
  max-height: 500px;
  max-width: 360px;
  opacity: 1;
  transform: translateY(0);
  padding: 10px 1px;
}

/* =============== section Footer ================ */
footer {
  background-color: #2577ff;
  color: white;
}

.footer-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

.footer-text {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 140px;
}

.footer-section h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
  transform: translateX(40px);
}

.footer-section ul li {
  list-style: none;
  margin: 15px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1em;
}

.footer-section ul li a:hover {
  color: #b3b3b3;
}

.logo-section {
  text-align: center;
}

.footer-container .logo-section img {
  width: 250px;
  height: 200px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2577ff;
  padding: 10px 20px;
}

.footer-line {
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.footer-bottom p {
  margin: 5px 0;
  color: white;
  font-size: 18px;
  text-align: center;
}

.footer-logo-container {
  display: flex;
  align-items: center;
}

.footer-logo {
  max-width: 50px;
  margin: 10px 10px 10px 0;
}

.footer-logo-container p {
  margin: 0;
  color: white;
  font-size: 18px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.social-icons a {
  color: white;
  margin: 0 5px;
  font-size: 25px;
  transition: color 0.3s ease;
  background-color: #ffffff0c;
  border-radius: 50%;
  line-height: 1;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ffffffc2;
  background-color: #000000b0;
}

/* Button BackToHIMTIKA */
    .Btn-parent {
        position: fixed;
        bottom: 32px;
        right: 36px;
        z-index: 10;
    }

    .Btn-parent a {
        text-decoration: none !important;
    }

    .Btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: rgb(255, 255, 255);
    }

    /* plus sign */
    .sign {
        width: 100%;
        transition-duration: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* text */
    .Btn .text-button {
        width: 0%;
        opacity: 0;
        color: rgba(255, 255, 255);
        background-color: rgba(10, 198, 194);
        transition-duration: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .Btn .text-button h1 {
        font-family: 'Plus Jakarta Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 0.75rem;
    }
    .Btn .text-button h1 span {
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
        text-shadow: 0px -2px 0px rgba(11, 223, 219);
    }
    /* hover effect on button width */
    .Btn:hover {
        width: 160px;
        border-radius: 40px;
        transition-duration: .3s;
        box-shadow: 0px 0px 15px 1px rgba(11, 223, 219);
    }

    .Btn:hover .sign {
        width: 35%;
        transition-duration: .3s;
        padding-left: 5px;
    }
    /* hover effect button's text */
    .Btn:hover .text-button {
        opacity: 1;
        width: 65%;
        transition-duration: .3s;
        /* padding-right: 5px; */
    }
    /* button click effect*/
    .Btn:active {
        transform: translate(2px ,2px);
    }
/* Button BackToHIMTIKA */